<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
</script>

<template>
  <h1>SUTOM Solver</h1>
  <div id="container">
    <div id="loading" v-show="loading">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <span v-if="!dictionnaireCharge">Chargement du dictionnaire...</span>
      <span v-else>Recherche des mots...</span>
    </div>

    <it-button type="neutral" @click="tiroirVisible = !tiroirVisible"
      >Comment ça marche ?</it-button
    >

    <div id="inputs">
      <it-number-input
        v-model="longueurMot"
        :min="minLongueur"
        :max="maxLongueur"
        label-top="Longueur du mot"
      />
      <it-input
        v-model="modele"
        type="text"
        label-top="Modèle"
        :status="inputHelper.modele.statut"
        :message="inputHelper.modele.message"
      />

      <it-input
        v-model="lettresMalPlacees"
        type="text"
        label-top="Lettres jaunes 🟡"
        :status="inputHelper.lettresMalPlacees.statut"
        :message="inputHelper.lettresMalPlacees.message"
      />
      <it-input
        v-model="lettresExclues"
        type="text"
        label-top="Lettres bleues 🟦"
        :status="inputHelper.lettresExclues.statut"
        :message="inputHelper.lettresExclues.message"
      />
    </div>

    <it-button
      type="primary"
      @click="trouverMots()"
      :disabled="boutonDesactive"
      :pulse="!boutonDesactive"
      >Chercher mots jouables</it-button
    >

    <it-drawer id="panel" placement="left" v-model="tiroirVisible">
      <h3 style="margin: 24px">
        <it-icon box name="help_outline" />
        Aide
      </h3>
      <it-divider />
      <div id="aide">
        <p>Prenons comme exemple cette grille</p>
        <img src="./assets/grille.webp" alt="grille" />
        <it-divider />

        <p>Fonctionnement des entrées</p>

        <table>
          <thead>
            <tr>
              <th>Ligne</th>
              <th>Modèle</th>
              <th>Lettres jaunes</th>
              <th>Lettres bleues</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>A??????</td>
              <td>O</td>
              <td>MADUE</td>
            </tr>
            <tr>
              <td>2</td>
              <td>A??O???</td>
              <td>NI</td>
              <td>MADUER</td>
            </tr>
          </tbody>
        </table>

        <p>
          La recherche de la 2è ligne vous donne directement &quot;<span
            style="font-weight: bold"
            >appoint</span
          >&quot;<br /><br />
          PS: vous pouvez rentrer vos lettres en majuscule ou en minuscule, cela
          n'a pas d'importance.
        </p>
        <it-divider />

        <p>
          Si ça vous intéresse de savoir comment la fonction de filtrage des
          mots fonctionne sous le capot, j'ai écrit
          <a
            href="sutom_solver.pdf"
            target="_blank"
            rel="noreferrer norelopener"
            >ce petit PDF</a
          >
          où j'explique mon raisonnement :)
        </p>
        <br />

        <div id="credit">
          Bien évidemment, tout le crédit revient à l'équipe de dev derrière
          SUTOM, j'ai juste remarqué que le dictionnaire des mots acceptés par
          le jeu était dans le code JavaScript de la page et ça m'a directement
          donné l'idée de coder ce site :D
        </div>
        <div class="buttons">
          <a
            href="https://twitter.com/alsagone/"
            title="Mon Twitter"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-twitter icon"></i
          ></a>

          <a
            href="https://gitlab.com/alsagone/sutom-solver/"
            title="Dépot Git du projet"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-gitlab icon"></i
          ></a>
        </div>
        <br />
        <span
          >Favicon crée par
          <a
            href="https://www.flaticon.com/free-icons/words"
            target="_blank"
            rel="noreferrer norelopener"
            title="words icons"
          >
            Freepik</a
          >
          de
          <a
            href="https://www.flaticon.com"
            target="_blank"
            rel="noreferrer norelopener"
            title="Flaticon"
            >Flaticon</a
          ></span
        >
      </div>
    </it-drawer>

    <div id="liste-mots">
      <it-divider />
      <ul class="col-5" v-if="!rechercheVide">
        <li v-for="mot in listeMotsJouables" :key="mot">{{ mot }}</li>
      </ul>
      <span id="erreurRecherche" v-else
        >Aucun mot de {{ longueurMot }} lettres ne vérifie:
        <ul>
          <li>respecte le modèle &quot;{{ modele }}&quot;</li>
          <li v-if="lettresMalPlacees.length > 0">
            contient
            <span v-if="lettresMalPlacees.length > 1">les lettres </span>
            <span v-else>la lettre</span> &quot;{{ lettresMalPlacees }}&quot;
          </li>
          <li v-if="lettresExclues.length > 0">
            ne contient pas
            <span v-if="lettresExclues.length > 1">les lettres </span>
            <span v-else>la lettre</span> &quot;{{ lettresExclues }}&quot;
          </li>
        </ul>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { creerJSON, checkMot, checkModele } from "./assets/fonctions_dico";

export default defineComponent({
  setup() {},

  data() {
    return {
      longueurMot: 6,
      minLongueur: 6,
      maxLongueur: 9,
      modele: "",
      lettresMalPlacees: "",
      lettresExclues: "",
      listeMotsJouables: [] as string[],
      listeMots: [] as string[],
      dico: null as Map<number, Map<string, string[]>> | null,
      loading: true,
      dictionnaireCharge: false,
      inputHelper: {
        modele: {
          statut: "",
          message: "",
        },

        lettresMalPlacees: {
          statut: "",
          message: "",
        },

        lettresExclues: {
          statut: "",
          message: "",
        },
      },
      tiroirVisible: false,
      dictionnaire: {},
      rechercheVide: false,
    };
  },

  methods: {
    inputToLowercase() {
      this.lettresExclues = this.lettresExclues.toLowerCase();
      this.lettresMalPlacees = this.lettresMalPlacees.toLowerCase();
      this.modele = this.modele.toLowerCase();
      return;
    },

    estUnMotValide(mot: string) {
      return (
        checkModele(mot, this.modele) &&
        checkMot(mot, this.modele, this.lettresMalPlacees, this.lettresExclues)
      );
    },
    trouverMots(): void {
      this.loading = true;
      this.inputToLowercase();

      const mots_longueur = this.dico ? this.dico.get(this.longueurMot) : null;
      const liste_mots: string[] | undefined = mots_longueur
        ? mots_longueur.get(this.modele[0])
        : [];

      this.listeMotsJouables = liste_mots
        ? liste_mots.filter((mot) => this.estUnMotValide(mot))
        : [];

      this.rechercheVide = this.listeMotsJouables.length === 0;
      this.loading = false;
    },

    checkRegexModele: (mot: string): boolean => {
      return /^[A-Za-z][A-Za-z?]*$/.test(mot);
    },

    async fetchData() {
      try {
        const res = await fetch("dico_sutom.txt");
        this.listeMots = await (await res.text())
          .split("\n")
          .map((mot) => mot.toLowerCase().replace(/\n|\r/g, ""));
        this.dico = creerJSON(this.listeMots);
      } catch (err: any) {
        alert(`Error: impossible de récupérer dico_sutom.txt\n${err.message}`);
        this.dico = null;
      } finally {
        this.loading = false;
        this.dictionnaireCharge = true;
      }
    },

    resetRecherche() {
      this.rechercheVide = false;
      this.listeMotsJouables = [];
    },

    nombreLettresInconnues(): number {
      return [...this.modele].filter((l) => l === "?").length;
    },
  },

  watch: {
    modele() {
      let statut: string = "danger",
        message: string = "";
      this.resetRecherche();

      if (this.modele.length === 0) {
        statut = "";
      } else if (this.modele.startsWith("?")) {
        message = "Le modèle doit commencer par une lettre";
      } else if (!this.checkRegexModele(this.modele)) {
        message = "N'entrer que des lettres ou des ?";
      } else if (this.modele.length < this.longueurMot) {
        message = "Le modèle n'est pas assez long";
      } else if (this.modele.length > this.longueurMot) {
        message = "Le modèle est trop long";
      } else {
        statut = "success";
      }

      this.inputHelper.modele.statut = statut;
      this.inputHelper.modele.message = message;
    },

    lettresMalPlacees() {
      let statut: string = "danger",
        message: string = "";
      this.resetRecherche();

      if (this.lettresMalPlacees.length === 0) {
        statut = "";
      } else if (!this.checkRegexModele(this.lettresMalPlacees)) {
        message = "N'entrer que des lettres";
      } else if (
        this.lettresMalPlacees.length > this.nombreLettresInconnues()
      ) {
        message =
          "Trop de lettres mal placées par rapport au nombre de '?' dans le modèle";
      } else {
        statut = "success";
      }

      this.inputHelper.lettresMalPlacees.statut = statut;
      this.inputHelper.lettresMalPlacees.message = message;
    },

    lettresExclues() {
      let statut: string = "danger",
        message: string = "";
      this.resetRecherche();

      if (this.lettresExclues.length === 0) {
        statut = "";
      } else if (!this.checkRegexModele(this.lettresExclues)) {
        message = "N'entrer que des lettres";
      } else {
        statut = "success";
      }

      this.inputHelper.lettresExclues.statut = statut;
      this.inputHelper.lettresExclues.message = message;
    },
  },

  mounted() {
    this.fetchData();
  },

  computed: {
    boutonDesactive(): boolean {
      return (
        this.inputHelper.modele.statut !== "success" ||
        this.inputHelper.lettresMalPlacees.statut === "danger" ||
        this.inputHelper.lettresExclues.statut === "danger"
      );
    },
  },
});
</script>
