.it-drawer {
  color: #000;
}

.it-drawer img {
  max-width: 90%;
  height: auto;
}

#aide {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#aide a {
  font-weight: bold;
  color: #0074ba;
}

#aide p {
  margin: 5px 0px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.buttons a {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.5em;
}

.buttons .icon {
  color: #fff;
  position: absolute;
  top: 28%;
  left: 23%;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.buttons a {
  display: inline-block;
}

.buttons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: -webkit-linear-gradient(-225deg, #65379b 0%, #886aea 53%, #6457c6 100%);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.buttons a:hover:before {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.buttons a:hover .icon {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #65379b;
  background: -webkit-linear-gradient(-225deg, #65379b 0%, #886aea 53%, #6457c6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  text-align: center;
  vertical-align: top;
}

th {
  font-weight: bold;
}

th,
td {
  border: 1px solid #000;
  padding: 5px;
}

@media (max-width: 767.98px) {
  #aide {
    width: 95%;
    padding: 0px 5px 10px 5px;
  }
}
/*# sourceMappingURL=panel.css.map */