@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-weight: 500;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
}

.it-number-input {
  background-color: #fff;
}

.it-input-label {
  color: #fff;
}

.it-input:focus-visible {
  box-shadow: 10px pink;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  width: 90vw;
}

#inputs > div {
  max-width: 150px;
}

.it-number-input {
  height: 32px;
}

#inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 20px;
}

#inputs,
#liste-mots {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
.col-5 {
  columns: 5;
}

.it-btn {
  margin-bottom: 20px;
}

#erreurRecherche ul {
  list-style: inside;
}

@media (max-width: 767.98px) {
  ul,
  .col-5 {
    columns: 1;
  }

  #inputs {
    flex-direction: column;
    align-items: center;
  }

  #inputs > div {
    margin-bottom: 10px;
  }
}
