@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-weight: 500;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html {
  background: #141e30;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#243b55), to(#141e30));
  background: linear-gradient(to right, #243b55, #141e30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.it-number-input {
  background-color: #fff;
}

.it-input-label {
  color: #fff;
}

.it-input:focus-visible {
  -webkit-box-shadow: 10px pink;
          box-shadow: 10px pink;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90vw;
  width: 90vw;
}

#inputs > div {
  max-width: 150px;
}

.it-number-input {
  height: 32px;
}

#inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}

#inputs,
#liste-mots {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.col-5 {
  -webkit-columns: 5;
          columns: 5;
}

.it-btn {
  margin-bottom: 20px;
}

#erreurRecherche ul {
  list-style: inside;
}

@media (max-width: 767.98px) {
  ul,
  .col-5 {
    -webkit-columns: 1;
            columns: 1;
  }
  #inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #inputs > div {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */